html, body {
    height: 100%;
}

body {
    display: flex;
}

#root {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

#stocksPage {
    display: flex;
    flex-direction: column;
}